{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="px-4 py-5 my-5 text-center">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <div class="col-md-3 text-end">
                    <a href="{% url 'list-of-all-products' %}" class="btn btn-outline-primary me-2">
                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <h5 class="card-title">Buy</h5>
                            </div>
                        </div>
                    </a>

                    <a href="{% url 'list-own-products' user.id%}" class="btn btn-outline-primary me-2">
                        <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <h5 class="card-title">Sell</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Centered hero</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the
                    world’s
                    most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid
                    system,
                    extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <div class="col-md-3 text-end">
                        <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Login</a>
                        <a href="{% url 'create-new-user' %}" class="btn btn-outline-primary me-2">Sing Up</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

