{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-info">Save</button>
                <button type="button" class="btn btn-outline-danger">Cancel</button>
            </form>
        </div>
    </div>
{% endblock %}