{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
    <a href="{% url 'create-product' %}" class="btn btn-outline-dark"> + Add product</a>
    <div class="container">
        <div class="row align-items-start">
            {% for product in object_list %}
                <div class="col">
                    <div class="card" style="width: 18rem;">

                            <img src="{{ product.image.url }}">

                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <p class="card-text">{{ product.details }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-success">Purchase</a>
                            <a href="#" class="btn btn-info">Wishlist</a>
                            <a href="{% url 'product-details' product.id %}" class="btn btn-info">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}