{% extends 'base.html' %}
{% block title %}
    Delete {{ product.name }}
{% endblock %}

{% block content %}
    <div class="card, text-center">
    <p class="card-header"> Do you want to delete {{ product.name }} ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success">Yes</button>
        <a href='{% url 'list-own-products' request.user.id %}' class="btn btn-outline-danger">No</a>
    </form>
    </div>
{% endblock %}