{% extends 'base.html' %}
{% load static %}

{% block title %}
    Details of a product
{% endblock %}

{% block content %}
    <div class="card">
        <h5 class="card-header">{{ product.product_name }}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ product.details }}</h5>
            <p class="card-text">Price: {{ product.price }}</p>
            {% if product.new ==  1 %}
                <p class="card-text">This is a new product</p>
            {% else %}
                <p class="card-text">This is not a new product</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
