{% extends 'base.html' %}
{% block title %} Create product {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-info">Save</button>
                <a href="{% url 'list-own-products' request.user.id %}" class="btn btn-outline-dark"> Back </a>
                <a href="{% url 'home' %}" class="btn btn-outline-danger">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}

<button type="submit" class="btn btn-outline-info">Save</button>