{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
    <a href="{% url 'create-product' %}" class="btn btn-outline-dark" style="color: red"; > + Add product</a>

    <div class="container mt-3 g-start-2" style="padding-top: 3% ">
        <table class="table table-hover ">
            <thead class="table-dark">
            <tr>
                <th>
                    Name of the product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Location
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </tr>
            </thead>
            <tbody>
            {% for product in own_products %}
                <tr>
                    <td>
                        {{ product.product_name }}
                    </td>
                    <td>
                        {{ product.price }}
                    </td>
                    <td>
                        {{ product.location }}
                    </td>
                    <td>
                        <a href="{% url 'product-details' product.id %}" class="btn btn-info">Details</a>
                        <a href="{% url 'product-update' product.id %}" class="btn btn-info">Update</a>
                        <a href="{% url 'product-delete' product.id %}" class="btn btn-info">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}