<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <span class="fs-4">WinDeal</span>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% if request.user.is_authenticated %}
                <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
                <li><a href="{% url 'list-of-all-products' %}" class="nav-link px-2 link-dark">Buy</a></li>
                <li><a href="{% url 'create-product' %}" class="nav-link px-2 link-dark">Sell</a></li>
                </ul>
                <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
            {% endif %}
    </header>
</div>
{% block content %}

{% endblock %}
</body>
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.popper.js' %}"></script>
</html>

